* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

section {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

section h4 {
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
}

section i {
  font-size: 50px;
  cursor: pointer;
  color: green;
  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}
